{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1>My first News website!</h1>
            <p>This page will grow as we add more and more components from Bootstrap...</p>
            <p>This page will grow as we add more and more components from Bootstrap...</p>
            <p>This page will grow as we add more and more components from Bootstrap...</p>
            <p>This page will grow as we add more and more components from Bootstrap...</p>
            <p>This page will grow as we add more and more components from Bootstrap...</p>
            <p>This page will grow as we add more and more components from Bootstrap...</p>

            <p>This page will grow as we add more and more components from Bootstrap...</p>
            <p>This page will grow as we add more and more components from Bootstrap...</p>
            <p>This page will grow as we add more and more components from Bootstrap...</p>
        </div>

        <p>This is another paragraph.</p>
        <p>This is a paragraph.</p>
        <p>This is another paragraph.</p>
    </div>

{% endblock %}
