{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Наша контактна інйормація</h1>
            <h4>Телефон:  </h2>
            <p>+3809000000</p>
            <h4>Email:</h4>
            <p>mail@test.com </p>
        </div>

        <p>This is another paragraph.</p>

    </div>
{% endblock %}